Python setup

In [1]:
import numpy as np
import pandas as pd
import researchpy
import matplotlib.pyplot as plt

Data setup

In [2]:
# Read file and select column
STAI_data = pd.read_excel("D:\EmotionalAttention\Results_STAI_DASS21.xlsx", sheet_name = "STAI")
df_STAI = STAI_data[["รหัสอาสาสมัคร (ID)", "รอบที่ทำ", "SUM"]]

# Filter PN and NP
df_STAI_PN = df_STAI[df_STAI["รหัสอาสาสมัคร (ID)"].str.contains("PN") == True].reset_index(drop=True)
df_STAI_NP = df_STAI[df_STAI["รหัสอาสาสมัคร (ID)"].str.contains("NP") == True].reset_index(drop=True)

# For PN
df_STAI_PN_before_P = df_STAI_PN[df_STAI_PN["รอบที่ทำ"] == 1].reset_index(drop=True)
df_STAI_PN_after_P = df_STAI_PN[df_STAI_PN["รอบที่ทำ"] == 2].reset_index(drop=True)
df_STAI_PN_before_N = df_STAI_PN[df_STAI_PN["รอบที่ทำ"] == 3].reset_index(drop=True)
df_STAI_PN_after_N = df_STAI_PN[df_STAI_PN["รอบที่ทำ"] == 4].reset_index(drop=True)

# For NP
df_STAI_NP_before_N = df_STAI_NP[df_STAI_NP["รอบที่ทำ"] == 1].reset_index(drop=True)
df_STAI_NP_after_N = df_STAI_NP[df_STAI_NP["รอบที่ทำ"] == 2].reset_index(drop=True)
df_STAI_NP_before_P = df_STAI_NP[df_STAI_NP["รอบที่ทำ"] == 3].reset_index(drop=True)
df_STAI_NP_after_P = df_STAI_NP[df_STAI_NP["รอบที่ทำ"] == 4].reset_index(drop=True)

# For all
df_STAI_All_before_P = pd.concat([df_STAI_PN_before_P, df_STAI_NP_before_P], ignore_index=True)
df_STAI_All_after_P = pd.concat([df_STAI_PN_after_P, df_STAI_NP_after_P], ignore_index=True)
df_STAI_All_before_N = pd.concat([df_STAI_PN_before_N, df_STAI_NP_before_N], ignore_index=True)
df_STAI_All_after_N = pd.concat([df_STAI_PN_after_N, df_STAI_NP_after_N], ignore_index=True)

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
C:\Users\ROG\AppData\Local\Temp\ipykernel_14020\918453199.py:2: SyntaxWarning: invalid escape sequence '\E'
  STAI_data = pd.read_excel("D:\EmotionalAttention\Results_STAI_DASS21.xlsx", sheet_name = "STAI")

In [3]:
df_STAI_All_before_P.describe()
df_STAI_All_after_P.describe()
df_STAI_All_before_N.describe()
df_STAI_All_after_N.describe()

        รอบที่ทำ        SUM
count  30.000000  30.000000
mean    3.000000  47.866667
std     1.017095  14.301515
min     2.000000  20.000000
25%     2.000000  35.500000
50%     3.000000  51.000000
75%     4.000000  60.750000
max     4.000000  66.000000

In [4]:
# T-test analysis

des_PN_P, res_PN_P = researchpy.ttest(df_STAI_PN_before_P["SUM"], df_STAI_PN_after_P["SUM"], paired = True)
des_PN_N, res_PN_N = researchpy.ttest(df_STAI_PN_before_N["SUM"], df_STAI_PN_after_N["SUM"], paired = True)
des_NP_P, res_NP_P = researchpy.ttest(df_STAI_NP_before_P["SUM"], df_STAI_NP_after_P["SUM"], paired = True)
des_NP_N, res_NP_N = researchpy.ttest(df_STAI_NP_before_N["SUM"], df_STAI_NP_after_N["SUM"], paired = True)
des_All_P, res_All_P = researchpy.ttest(df_STAI_All_before_P["SUM"], df_STAI_All_after_P["SUM"], paired = True)
des_All_N, res_All_N = researchpy.ttest(df_STAI_All_before_N["SUM"], df_STAI_All_after_N["SUM"], paired = True)

c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:302: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'SUM' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
c:\Users\ROG\AppData\Local\Programs\Python\Python312\Lib\site-packages\researchpy\ttest.py:409: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Difference (SUM - SUM) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

In [5]:
# T-test table
print(res_All_N)
print(des_All_N)
print("\n")
print(res_All_P)
print(des_All_P)

       Paired samples t-test  results
0  Difference (SUM - SUM) =  -14.7333
1      Degrees of freedom =   29.0000
2                       t =   -5.6925
3   Two side test p value =    0.0000
4  Difference < 0 p value =    0.0000
5  Difference > 0 p value =    1.0000
6               Cohen's d =   -1.1768
7               Hedge's g =   -1.1616
8          Glass's delta1 =   -1.3721
9        Point-Biserial r =   -0.7264
  Variable     N       Mean         SD        SE  95% Conf.   Interval
0      SUM  30.0  33.133333  10.737409  1.960374  29.123919  37.142748
1      SUM  30.0  47.866667  14.301515  2.611087  42.526393  53.206940
2     diff  30.0 -14.733333  14.176069  2.588184 -20.026764  -9.439902


       Paired samples t-test  results
0  Difference (SUM - SUM) =    6.0000
1      Degrees of freedom =   29.0000
2                       t =    3.0423
3   Two side test p value =    0.0049
4  Difference < 0 p value =    0.0025
5  Difference > 0 p value =    0.9975
6               Cohen's d =    0.6068
7               Hedge's g =    0.5990
8          Glass's delta1 =    0.5116
9        Point-Biserial r =    0.4919
  Variable     N       Mean         SD        SE  95% Conf.   Interval
0      SUM  30.0  37.833333  11.727020  2.141051  33.454392  42.212274
1      SUM  30.0  31.833333   8.047631  1.469290  28.828298  34.838368
2     diff  30.0   6.000000  10.802299  1.972221   1.966355  10.033645

Not in use

In [6]:
# Old

'''
# Read file and select column
STAI_data = pd.read_excel("D:\EmotionalAttention\Results_STAI_DASS21.xlsx", sheet_name = "STAI")
df_STAI = STAI_data[["รหัสอาสาสมัคร (ID)", "รอบที่ทำ", "SUM"]]

# Create dataframe for PN and NP
df_STAI_PN = pd.DataFrame({"รหัสอาสาสมัคร (ID)": [],"รอบที่ทำ": [], "SUM": []})
df_STAI_NP = pd.DataFrame({"รหัสอาสาสมัคร (ID)": [],"รอบที่ทำ": [], "SUM": []})

# Group PN and NP from ID
for i in range(len(df_STAI)):
    if "PN" in df_STAI.loc[i, "รหัสอาสาสมัคร (ID)"]:
        df_STAI_PN.append(df_STAI.loc[i])
print(df_STAI_PN)

# pd.Series([3.3, 'CS', 'Paris'], index = df_STAI_PN.columns)
'''

<>:3: SyntaxWarning: invalid escape sequence '\E'
<>:3: SyntaxWarning: invalid escape sequence '\E'
C:\Users\ROG\AppData\Local\Temp\ipykernel_14020\2051513532.py:3: SyntaxWarning: invalid escape sequence '\E'
  '''

'\n# Read file and select column\nSTAI_data = pd.read_excel("D:\\EmotionalAttention\\Results_STAI_DASS21.xlsx", sheet_name = "STAI")\ndf_STAI = STAI_data[["รหัสอาสาสมัคร (ID)", "รอบที่ทำ", "SUM"]]\n\n# Create dataframe for PN and NP\ndf_STAI_PN = pd.DataFrame({"รหัสอาสาสมัคร (ID)": [],"รอบที่ทำ": [], "SUM": []})\ndf_STAI_NP = pd.DataFrame({"รหัสอาสาสมัคร (ID)": [],"รอบที่ทำ": [], "SUM": []})\n\n# Group PN and NP from ID\nfor i in range(len(df_STAI)):\n    if "PN" in df_STAI.loc[i, "รหัสอาสาสมัคร (ID)"]:\n        df_STAI_PN.append(df_STAI.loc[i])\nprint(df_STAI_PN)\n\n# pd.Series([3.3, \'CS\', \'Paris\'], index = df_STAI_PN.columns)\n'

In [7]:

# Find t-test
from scipy.stats import ttest_rel
t_test_PN_P = ttest_rel(df_STAI_PN_before_P['SUM'], df_STAI_PN_after_P['SUM'], nan_policy='omit')
t_test_PN_N = ttest_rel(df_STAI_PN_before_N['SUM'], df_STAI_PN_after_N['SUM'], nan_policy='omit')
t_test_NP_P = ttest_rel(df_STAI_NP_before_P['SUM'], df_STAI_NP_after_P['SUM'], nan_policy='omit')
t_test_NP_N = ttest_rel(df_STAI_NP_before_N['SUM'], df_STAI_NP_after_N['SUM'], nan_policy='omit')
t_test_All_P = ttest_rel(df_STAI_All_before_P['SUM'], df_STAI_All_after_P['SUM'], nan_policy='omit')
t_test_All_N = ttest_rel(df_STAI_All_before_N['SUM'], df_STAI_All_after_N['SUM'], nan_policy='omit')

In [8]:
print(t_test_All_N)
print(t_test_All_P)

TtestResult(statistic=-5.692536675685282, pvalue=3.713858163289765e-06, df=29)
TtestResult(statistic=3.0422556021702336, pvalue=0.0049475028948235055, df=29)